*{
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    color: black;
    /*background-color: cadetblue;*/
    align-items: center;
    justify-content: center;
    }
    
    .Header h2 {
        /*margin-left: 300px;*/
        /*margin-right: 50px;*/
        padding-right: 220px;
        padding-left: 5px;
        background-color: rgb(163, 162, 184);
    }
    
    .Header nav {
        margin-left: 0px;
        margin-right: 0px;
        background-color: rgb(95, 160, 114);
        padding: 5px 5px;
        
    }
    .Header a {
        text-decoration: none;
        color: rgb(20, 9, 83);
        margin-left: 20px;
        margin-right: 20px;
    }